.title {
    font-weight: 600;
}

.add-button {
    width: 150px;
    height: 50px;
    margin: 12px 0 30px;
}

.table-action {
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 1.6rem;
}
